<html>
<head>
</head>
<body>
<form target="_self" method="post">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger alert-dismisable" role="alert">
                    <li>{{ message }}</li>
                </div>
            {% endfor %}
    {% endif %}
    {% endwith %}
    <br><br>
{% for obj in data %}

    <label>{{obj.name}} price: {{obj.price}}  Quantity: {{obj.amount}}</label>
    <input type="number" id={{obj.name}} name={{obj.name}}><br>
{% endfor %}
    <input type="submit" value="Buy">
     <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/logout">Logout</a></li>
          </ul>
     </nav>
</form>
</body>
</html>