<html>
<head>
  <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  font-size:20px;
  border-bottom: 1px solid #ddd;
}
th{
font-size:25;
color: blue;
}
div{
margin-top:50px;
margin-left:650px;
}
</style>
</head>
<body>
<h1 style="text-align: center; margin-top:50px;">Your orders:</h1><br>
<div>
<table style="width:50%">
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Price</th>
  </tr>
  {% for obj in data %}
  <tr>
    <td class="a">{{obj.name}}</td>
    <td class="a">{{obj.amount}}</td>
    <td class="a">{{obj.price}}</td>
  </tr>
  {% endfor %}
</table>
</div>
</body>
</html>